<p>Upload an image:</p>
<form action='/image/new' method='post' enctype="multipart/form-data">
  <input type='file' name='image' accept='.jpg, .jpeg, .png, .gif'>
  <button type='submit'>Send</button>
</form>