<p>Add a new document:</p>

<form action='/file/new' method='post'>
  <input type='text' name='new_file'>
  <input type='submit' value='Create'>
</form>

<a href="/"><button style="margin-left: 65%">Back to Home</button></a>